<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Rejestracja
                </div>
                <div class="card-body">
                    <form th:action="@{/stworz_nowe_konto}" method="post" th:object="${uzytkownik}">
                        <div class="form-group">
                            <label for="login">Login:</label>
                            <input type="text" id="login" name="login" class="form-control" th:field="*{login}" required autofocus>
                        </div>
                        <div th:if="${loginZajety}" class="alert alert-danger" th:text="${loginZajety}"></div>
                        <div class="form-group">
                            <label for="haslo">Hasło:</label>
                            <input type="password" id="haslo" name="haslo" class="form-control" th:field="*{haslo}" required>
                        </div>
                        <div class="form-group">
                            <label for="powtorzHaslo">Potwierdź Hasło:</label>
                            <input type="password" id="powtorzHaslo" name="powtorzHaslo" class="form-control" required>
                        </div>
                        <div th:if="${haslaNiezgodne}" class="alert alert-danger" th:text="${haslaNiezgodne}"></div>
                        <div class="form-group">
                            <label for="imie">Imię:</label>
                            <input type="text" id="imie" name="imie" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="nazwisko">Nazwisko:</label>
                            <input type="text" id="nazwisko" name="nazwisko" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="adres">Adres:</label>
                            <input type="text" id="adres" name="adres" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="telefon">Telefon:</label>
                            <input type="text" id="telefon" name="telefon" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Zarejestruj</button>
                    </form>
                    <div class="mt-3">
                        Masz już konto? <a th:href="@{/login}">Zaloguj się</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>