<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>

<!--<script>-->
<!--    setTimeout(function(){-->
<!--        window.location.href = 'https://www.tutorialspoint.com/javascript/';-->
<!--    }, 5000);-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--    function Redirect()-->
<!--    {-->
<!--        window.location="http://www.wp.pl";-->
<!--    }-->
<!--    document.write("[[${#authentication.name}]] You will be redirected to a new page in 5 seconds");-->
<!--    setTimeout('Redirect()', 5000);-->
<!--</script>-->


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BADA - Schronisko dla zwierząt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Moje zwierzęta
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/adopcje_user}">Adopcje</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b style="text-transform:capitalize">[[${#authentication.name}]]</b></a>
                </li>

                <li class="nav-item">
                    <form method="post" th:action="@{/index}">
                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-5">
            <div th:if="${not #lists.isEmpty(zwierzeta)}">
                <h1 class="ml-3">Cześć <a style="color:lightskyblue; text-transform:capitalize"><b>[[${#authentication.name}]]</b></a>, oto lista twoich zwierząt:</h1>

                <div class="row row-cols-3">
                    <div th:each="zwierze : ${zwierzeta}" class="col m-3 w-auto" style="flex-grow: 0 !important;">
                        <div class="card" style="width: 18rem; height: 100%;">
                            <div class="card-img-top img_div">
                                <img class="obrazek" th:src="${zwierze.urlZdjecia}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-1">
                                    <span th:text="${zwierze.imie}"></span>
                                    <th:block th:if="${zwierze.plec == 'Samiec'}">♂</th:block>
                                    <th:block th:if="${zwierze.plec == 'Samica'}">♀</th:block>
                                    <th:block th:if="${zwierze.plec != 'Samiec' and zwierze.plec != 'Samica'}">?</th:block>
                                </h4>
                                <h6 class="card-title mb-1" th:text="'Gatunek: ' + ${zwierze.gatunek}"></h6>
                                <h6 class="card-title mb-1" th:text="'Wiek: ' + ${zwierze.wiek}"></h6>
                                <h6 class="card-title mb-1" th:text="'Stan zdrowia: ' + ${zwierze.stanZdrowia}"></h6>
                                <h6 class="card-title mb-1" th:text="'Data adopcji: ' + ${#dates.format(zwierze.dataAdopcji, 'yyyy-MM-dd')}"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(zwierzeta)}">
                <h1 class="ml-3">Cześć <a style="color:lightskyblue; text-transform:capitalize"><b>[[${#authentication.name}]]</b></a>, nie masz jeszcze żadnych zwierząt:</h1>
            </div>
        </div>

    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>