<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page - Admin</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BADA - Schronisko dla zwierząt</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/user_management/haslo/{id}(id=${pracownik.idUzytkownika})}" class="btn btn-primary mr-1">Zmień hasło</a>
                </li>
                <li class="nav-item">
                    <form method="post" th:action="@{/index}">
                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <div class="col-md-12 mt-5">
        <h1 class="mb-3">Witaj <a style="color:lightskyblue; text-transform:capitalize"><b>[[${pracownik.imie}]]</b></a></h1>
<!--        <h1 th:text="'Witaj, ' + ${pracownik.imie}"></h1>-->
        <p th:text="'Twoje stanowisko: ' + ${pracownik.stanowisko}"></p>
        <p th:text="'Twoje wynagrodzenie: ' + ${pracownik.wynagrodzenie}"></p>
    </div>

    <div class="col-md-12 mt-5">
        <h1>Twoje Schronisko</h1>
        <h3 th:text="${schronisko.nazwa}"></h3>
        <p th:text="'Adres: ' + ${schronisko.adres}"></p>
        <p th:text="'Telefon: ' + ${schronisko.telefon}"></p>
        <p th:text="'Data otwarcia: ' + ${#dates.format(schronisko.dataOtwarcia, 'yyyy-MM-dd')}"></p>
    </div>
<div class="col-md-12 mt-3">
    <h2>Klatki</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numer klatki</th>
            <th>Pojemność</th>
            <th>Typ</th>
            <!-- Conditionally render the "Akcje" column header if the user has the 'ZARZADZANIE_KLATKA' role -->
            <th th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_KLATKA'].size() > 0}">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="klatka : ${klatki}">
            <td th:text="${klatka.idKlatki}"></td>
            <td th:text="${klatka.pojemnosc}"></td>
            <td th:text="${klatka.typ}"></td>
            <!-- Conditionally render the "Akcje" column content if the user has the 'ZARZADZANIE_KLATKA' role -->
            <td th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_KLATKA'].size() > 0}">
                <a th:href="@{/schronisko_management/klatka/{schr}/{id}(schr=${klatka.idSchroniska}, id=${klatka.idKlatki})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                <form th:action="@{/schronisko_management/removeKlatka/{schr}(schr=${schronisko.idSchroniska})}" method="post">
                    <input type="hidden" name="id" th:value="${klatka.idKlatki}" />
                    <button type="submit" class="btn btn-danger btn-sm w-100"
                            onclick="return confirm('Czy na pewno chcesz usunąć tą klatkę?')">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
    <a th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_KLATKA'].size() > 0}"
       th:href="@{/schronisko_management/klatka/{schr}(schr=${pracownik.idSchroniska})}" class="btn btn-primary btn-sm w-100 mb-1">
        Dodaj klatkę</a>

<div class="col-md-12 mt-3">
    <h2>Zwierzęta</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Gatunek</th>
            <th>Wiek</th>
            <th>Stan Zdrowia</th>
            <th>Data Przyjęcia</th>
            <th>Numer klatki</th>
            <th th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_ZWIERZE'].size() > 0}">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zwierze : ${zwierzeta}">
            <td th:text="${zwierze.idZwierzecia}"></td>
            <td th:text="${zwierze.imie}"></td>
            <td th:text="${zwierze.gatunek}"></td>
            <td th:text="${zwierze.wiek}"></td>
            <td th:text="${zwierze.stanZdrowia}"></td>
            <td th:text="${zwierze.dataPrzyjecia}"></td>
            <td th:text="${zwierze.idKlatki}"></td>
            <td th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_ZWIERZE'].size() > 0}">
                <a th:href="@{/schronisko_management/zwierze/{schr}/{id}(schr=${pracownik.idSchroniska}, id=${zwierze.idZwierzecia})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                <form th:action="@{/schronisko_management/removeZwierze/{schr}(schr=${schronisko.idSchroniska})}" method="post">
                    <input type="hidden" name="id" th:value="${zwierze.idZwierzecia}" />
                    <button type="submit" class="btn btn-danger btn-sm w-100"
                            onclick="return confirm('Czy na pewno chcesz usunąć to zwierzę?')">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <a th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_ZWIERZE'].size() > 0}"
       th:href="@{/schronisko_management/zwierze/{schr}(schr=${pracownik.idSchroniska})}" class="btn btn-primary btn-sm w-100 mb-1">
        Dodaj zwierzę</a>

<div class="col-md-12 mt-3">
        <h2 th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_PRACOWNIK'].size() > 0}">Pracownicy</h2>
        <h2 th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_PRACOWNIK'].size() == 0}">Twoi współpracownicy</h2>
    <table class="table table-striped"> <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Stanowisko</th>
<!--        <th>Wynagrodzenie</th>-->
        <th>Telefon</th>
        <th>Email</th>
        <th th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_PRACOWNIK'].size() > 0}">Akcje</th>
<!--        <th>ID Uzytkownika</th>-->
<!--        <th>ID Schroniska</th>-->
    </tr>
    </thead>
        <tbody>
        <tr th:each="pracownik : ${pracownicy}">
<!--            <td th:text="${pracownik.idPracownika}"></td>-->
            <td th:text="${pracownik.imie}"></td>
            <td th:text="${pracownik.nazwisko}"></td>
            <td th:text="${pracownik.stanowisko}"></td>
<!--            <td th:text="${pracownik.wynagrodzenie}"></td>-->
            <td th:text="${pracownik.telefon}"></td>
            <td th:text="${pracownik.email}"></td>
            <td th:if="${#authentication != null and #authentication.authorities.?[authority == 'ROLE_ZARZADZANIE_PRACOWNIK'].size() > 0}">
                <a th:href="@{/user_management/pracownik/{schr}/{id}(schr=${pracownik.idSchroniska}, id=${pracownik.idPracownika})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                <form th:action="@{/user_management/removePracownik/{schr}(schr=${schronisko.idSchroniska}}" method="post">
                    <input type="hidden" name="id" th:value="${pracownik.idPracownika}" />
                    <button type="submit" class="btn btn-danger btn-sm w-100"
                            onclick="return confirm('Czy na pewno chcesz usunąć tego pracownika?')">Usuń</button>
                </form>
            </td>
<!--            <td th:text="${pracownik.idUzytkownika}"></td>-->
<!--            <td th:text="${pracownik.idSchroniska}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>