<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page - Admin</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-12 mt-5"> <form method="post" th:action="@{/index}">
            <div class="form-group">
                <div>ADMIN VIEW</div>
                <label th:inline="text">Welcome <a style="color:lightskyblue; text-transform:capitalize"><b>[[${#authentication.name}]]</b></a> to the main page!</label>
                <div>If you want to logout, click "Logout" button under this text.</div>
            </div>
            <button class="btn btn-primary" type="submit" value="Sign Out">Logout</button>
        </form>
        </div>

        <div class="col-md-12 mt-3">
            <h2>Schroniska</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Adres</th>
                    <th>Telefon</th>
                    <th>Data Otwarcia</th>
                    <th>Akcje</th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="schronisko : ${schroniska}">
                    <td th:text="${schronisko.idSchroniska}"></td>
                    <td th:text="${schronisko.nazwa}"></td>
                    <td th:text="${schronisko.adres}"></td>
                    <td th:text="${schronisko.telefon}"></td>
                    <td th:text="${#dates.format(schronisko.dataOtwarcia, 'yyyy-MM-dd')}"></td>
                    <td>
                        <a th:href="@{/admin/schronisko_admin/{id}(id=${schronisko.idSchroniska})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                        <form th:action="@{/admin/removeSchronisko}" method="post">
                            <input type="hidden" name="id" th:value="${schronisko.idSchroniska}" />
                            <button type="submit" class="btn btn-danger btn-sm w-100"
                                    onclick="return confirm('Czy na pewno chcesz usunąć to schronisko?')">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12 mt-3">
            <h5>
                <a href="#" class="toggle-form" data-target="#schroniskoForm">Dodaj Schronisko (rozwiń/zwiń)</a>
            </h5>
            <div id="schroniskoForm" class="collapsible-form" style="display: none;">
                <form th:action="@{/admin/addSchronisko}" method="post">
                    <div class="form-group">
                        <label for="nazwa">Nazwa:</label>
                        <input type="text" class="form-control" id="nazwa" name="nazwa" required>
                    </div>
                    <div class="form-group">
                        <label for="adres">Adres:</label>
                        <input type="text" class="form-control" id="adres" name="adres" required>
                    </div>
                    <div class="form-group">
                        <label for="telefon">Telefon:</label>
                        <input type="text" class="form-control" id="telefon" name="telefon" required>
                    </div>
                    <div class="form-group">
                        <label for="dataOtwarcia">Data Otwarcia:</label>
                        <input type="date" class="form-control" id="dataOtwarcia" name="dataOtwarcia" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
        </div>



        <div class="col-md-12 mt-3">
            <h2>Klienci</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Adres</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="klient : ${klienci}">
                    <td th:text="${klient.idKlienta}"></td>
                    <td th:text="${klient.imie}"></td>
                    <td th:text="${klient.nazwisko}"></td>
                    <td th:text="${klient.adres}"></td>
                    <td th:text="${klient.email}"></td>
                    <td th:text="${klient.telefon}"></td>
                    <td>
                    <a th:href="@{/admin/uzytkownik_admin/{id}(id=${klient.idUzytkownika})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2>Lista Użytkowników</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Hasło</th>
                    <th>Czy Admin</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${uzytkownicy}">
                    <td th:text="${user.idUzytkownika}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.haslo}"></td>
                    <td th:text="${user.czy_admin}"></td>
                    <td>
                        <a th:href="@{/admin/uzytkownik_admin/{id}(id=${user.idUzytkownika})}" class="btn btn-primary btn-sm w-100 mb-1">Zarządzaj</a>
                        <form th:action="@{/admin/removeUzytkownik}" method="post">
                            <input type="hidden" name="id" th:value="${user.idUzytkownika}" />
                            <button type="submit" class="btn btn-danger btn-sm w-100"
                                    onclick="return confirm('Czy na pewno chcesz usunąć tego uzytkownika?')">Usuń</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".toggle-form").click(function(e) {
            e.preventDefault();
            var target = $(this).data("target"); // Pobieramy wartość atrybutu data-target
            $(target).toggle(); // Rozwijamy/zwijamy odpowiedni formularz

            if ($(target).is(":visible")) {
                $(this).text($(this).text().replace("(rozwiń)", "(zwiń)"));
            } else {
                $(this).text($(this).text().replace("(zwiń)", "(rozwiń)"));
            }

        });
    });
</script>
</body>
</html>